button {
  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}