body {
  margin: 0px;
  padding: 0px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: pink;
  color: aqua;
}

body.blue {
  background-color: aqua;
  color: pink;
}